<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
       <header class="head">
           {% include nav.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- RightBar -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4903982964337500"
                     data-ad-slot="5557403473"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>  
            </div>
            <div class="content">
                <div class="switch">
                    <div id="grid"><span></span></div>
                    <div id="classic"><span></span></div>
                </div>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% if site.infinite_scroll == true %}
            <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
        {% endif %}
    </body>
</html>
